.linkContainer{
    display: flex;
    width: 73.4375vw;
    position: relative;
    margin: 0 auto;
    flex-direction: column;
    
}
.linkContainer a{
    color: white;
    margin: auto;
    padding: 0.25%;
}