header {
	background-color: #119ad5;
	color: #fff;
	padding: 20px 0;
}

h1 {
	display: inline;
	font-size: 2em;
    font-weight: bold;

}
.menu{
	display: flex;
	width: 73.4375vw;
	position: relative;
	margin: 0 auto;
	justify-content: space-between;
}
nav {
	position: absolute;
	top: 10px;
	right: 0;
}


nav li {
	display: inline;
	margin: 0 0 0 10px;
	
}
nav a {
	text-transform: uppercase;
	color: #fff;
	font-weight:500;
	font-size: 1.5em;
	text-decoration: none;
}
@media screen  and (max-width: 1440px) {
	h1{
		font-size: 1.75em;
	}
	
	nav a {
		font-size: 1.25em;
	}
} 