.info, .act, .tabla{
    width: 73.475vw;
    position: relative;
    text-align: center;
    height: auto;
    margin: 0 auto;
}
.info h2{
    font-size: 1.875em;
    text-align: center;
    clear: left;
    margin-top: 25px;

}
.info p{
    width: 95%;
    font-size: 1.25em;
    margin: auto;
    padding: 1.5em;
    text-align: justify;
    margin: 10px auto;
}
.act{
    position: relative;
    background: rgba(17, 154, 213, 0.302);
    padding: 20px 14%;
    
}
.act h2{
    font-size: 1.875rem;
    font-weight: bold;
    padding-bottom: 1.5em;
    padding-top: 0.50em;
    margin:0 auto;
    
}
.act .actContainer{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    align-items: center;
    gap: 3em;
    justify-content: space-around;
    padding-bottom: 2em;
}
.actContainer .imgAuditorio{
    max-width: 500px;
    max-height: 325px;
    position: relative;
    border-radius: 50px 0 50px 0;
    padding: 1em;
}
 .actContainer ul{
    font-size: 1.5rem;
    padding: 0.350em 1.5em  0;
    text-align: justify;
}
.actContainer ul .lihijo{
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}
.tabla h2{
    font-size: 1.875em;
    text-align: center;
    clear: left;
    margin-top: 25px;    
}
.tabla table{
    width: 100%;
    margin: 3% auto;
    border: solid 1px rgba(17, 154, 213, 0.3);
}
.tabla thead{
    background: #119ad5;
    color: white;
}
.tabla th{
    font-size: 1.5em;
}
.tabla td{
    background:rgba(17, 154, 213, 0.2) ;
    font-size: 1.25em;
    padding: 0.5%;
}
@media screen  and (max-width: 1440px) {
	.info h2, .act h2, .tabla h2 {
		font-size: 1.625em;
	}
    .act ul, .tabla th{
        font-size: 1.25em;
    }
    .act ul .lihijo, .tabla td, .info p{
        font-size: 1.125rem;
    }
        
}
@media screen  and (max-width: 1320px) {
	.info h2, .act h2, .tabla h2 {
		font-size: 1.375em;
	}
    .act ul, .tabla th{
        font-size: 1.125em;
    }
    .act ul .lihijo, .tabla td, .info p{
        font-size: 1rem;
    }
        
}